@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");

* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Nova Square", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./image/background.jpg");
  background-size: cover;

}
.date-container {
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  padding: 30px;
}
.date-container h2 {
  color: #ffffff;
  font-size: 2rem;
}
.date,
.time {
  color: #11a3b3;
  text-align: center;
  font-size: 1.2rem;
}
.container {
  width: 400px;
  height: min-content;
  background-color: #ec777796;
  border-radius: 12px;
  padding: 28px;
  border: 15px double black;
}
.search-box {
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-box input {
  width: 84%;
  font-size: 20px;
  text-transform: capitalize;
  background-color: #dcf5f3;
  padding: 12px 16px;
  border-radius: 14px;
}
.search-box input::placeholder {
  color: black;
}
.search-box button {
  width: 46px;
  height: 46px;
  background-color: #dcf5f3;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
}
.search-box button:hover {
  color: #fff;
  background-color: black;
}
.weather-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block: 20px;
}

.weather-body img {
  width: 60%;
}
.weather-box {
  margin-block: 20px;
  text-align: center;
}
.weather-box .temperature {
  font-size: 40px;
  font-weight: 800;
  position: relative;
}
.weather-box .temperature sup {
  font-size: 20px;
  position: absolute;
  font-weight: 600;
}
.weather-box .description {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}
.weather-details {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.humidity,
.wind,
.feels-like {
  display: flex;
  align-items: center;
}

.weather-details i {
  font-size: 24px;
}
.weather-details .text {
  margin-left: 5px;
  font-size: 16px;
}
.text span {
  font-size: 20px;
  font-weight: 700;
}

.location-not-found {
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
}
.location-not-found h1 {
  font-size: 20px;
  color: #6b6b6b;
  margin-block-end: 15px;
}
.location-not-found img {
  width: 80%;
}
